/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Universal */
* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    transition: 0.2s;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.white-arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Nav Bar */

#nav-bar {
    height: 40px;
    width: 100%;
    background: #363636;
    color: #fff;

    font-weight: 300;
}

#nav-bar .container {
    padding: 0px;
}

#nav-bar .float-left {
    float: left;
}

#nav-bar .float-right {
    float: right;
}

#nav-bar ul {
    list-style-type: none;
    line-height: 40px;
}

#nav-bar .user-id {
    font-size: 13px;
    font-weight: 400;
    padding-right: 3px;
    position: relative;
    top: 1px;
}

#nav-bar .white-arrow {
    position: relative;
    top: -1px;
} 


/* Transaction Stats */

#transaction-stats {
    margin-top: 20px;
    font-size: 0.9em;
}

#transaction-stats .container {
    background: #fff;
    border: 1px solid #eee;
    overflow: auto;
}

#transaction-stats span {
    display: block;
}

#transaction-stats .title {
    border-bottom: 1px solid #929292;
    padding-bottom: 5px;
}

.business-profits, .business-incomes, .business-expenses {
    display: block;
    width: 200px;
    text-align: left;
    padding: 25px 25px 25px 0px;
    float: left;
    position: relative;
}

.business-incomes:after {
    background: linear-gradient(to right, #4caf50 25%,#4caf50 25%, #4caf50 70%, #fff 67%, #fff 75%, #fff 75%);
    position: absolute;
    content: '';
    height: 10px;
    right: 0;
    left: 0;
    bottom: 0;
}

.business-expenses:after {
    background: linear-gradient(to right, red 25%,red 25%, red 70%, #fff 70%, #fff 75%, #fff 75%);
    position: absolute;
    content: '';
    height: 10px;
    right: 0;
    left: 0;
    bottom: 0;
}

#transaction-stats .value {
    font-size: 1.1em;
    padding-bottom: 8px;
}

#transaction-stats .value-title {
    font-size: 0.85em;
}


/* Add Transaction Box */

#add-transactions-box {
    margin-top: 10px;
    font-size: 0.9em;
    display: none;
}

#add-transactions-box .container {
    background: #fff;
    border: 1px solid #eee;
}

/* Edit Bar */

#transactions-edit-bar {
    margin-top: 10px;
}

#transactions-edit-bar .container {
    background: #fff;
    border: 1px solid #eee;
}

#transactions-edit-bar #edit-buttons {
    display: none;
    float: right;
}

/* Transactions */

#transactions {
    margin-top: 10px;
}

#transactions .container {
    background: #fff;
    border: 1px solid #eee;
}

#transactions table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.85em;
}

#transactions table td, th {
    text-align: left;
    padding: 10px 8px;
}

 #no-transactions {
    text-align: left;
    font-size: 14px;
    padding-top: 10px;
    position: relative;
    display: block;
}

/*#transactions table tr:nth-child(even) {
    background-color: #dddddd;
}*/

#transactions table tr {
    border-top: 1px solid #eee;
    font-size: 0.85em;
}

#transactions table tr:hover {
    background: #dddddd66;
    cursor: pointer;
}

#transactions table tr:first-child {
    border-top: 0px;
    border-bottom: 1px solid rgb(146, 146, 146);
    font-size: 0.95em;
}

#transactions table tr:first-child:hover {
    background: transparent;
}


/* Utility Bar */
#utility-bar {
    margin-bottom: 40px;
}

#utility-bar .container {
    background: #fff;
    border: 1px solid #eee;
    margin-top: 10px;
}

/* Push out form */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #363636; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    opacity: 0.95;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .container {
    padding: 40px;
    padding-top: 60px; /* Place content 60px from the top */
    min-width: 400px; /* Stops elements from collapsing */
}

.sidenav .title, .sidenav label {
    color: #fff;
}

.sidenav label {
    font-size: 0.8em;
}

.sidenav input, .sidenav select {
    margin-top: 3px;
    padding: 8px 10px;
    width: 150px;
    font-size: 12px;
    color: #000;
    border: none;
}

.sidenav select {
    width: 170px;
    border-right: solid 11px #fff;
}

.sidenav textarea {
    width: 360px;
    color: #000;
    padding: 10px;
    font-family: 'Roboto';
    border: none;
    margin-top: 3px;
}

.sidenav form {
    padding: 25px 0px;
}

.sidenav form row {
    display: inline-block;
    min-width: 400px;
    margin-right: 50px;
    margin-bottom: 15px;
}

.sidenav form .input-container {
    display: inline-block;
    margin-right: 20px;
}

.sidenav form .form-buttons {
    display: block;
    margin-top: 15px;
} 

.sidenav form .form-buttons .button {
    border: 0;
    padding: 8px 10px;
    font-size: 13px;
    margin-right: 10px;
    background: #f0f0f0 !important;
    color: #000;
}

.sidenav .row {
    margin-bottom: 20px;
}

.sidenav .date {
    padding: 6px 10px;
    cursor: pointer;
    font-family: 'Roboto';
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* Drop down menu */
/* Dropdown Button */
.dropbtn {
    background-color: #363636;
    color: white;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    top: -2px;
    padding: 0px 10px;
}

.dropbtn:hover {
    background-color: #403f3f;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 6px 16px;
    font-size: 14px;
    text-decoration: none;
    display: block;
    font-weight: 400;
  }

  .dropdown-content .sign-out-btn {
    color: black;
    border: 0;
    cursor: pointer;
    padding: 6px 16px;
    line-height: 40px;
    width: 100%;
    text-align: left;
    font-size: 14px;
  }
  .dropdown-content .sign-out-btn:hover {
    background-color: #ddd
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

.border-red {
    border: 2px solid red !important;
}

.text-red {
    color: red !important;
}

.name-error, .date-error, .amount-error, .tags-error {
    position: absolute;
    min-width: 180px;
    font-size: 0.8em;
}

#transaction-stats .count, #transaction-stats #minus-sign, #transaction-stats .sign, #transaction-stats .total-amount{
    display: inline-block;
}