/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Universal */
* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    transition: 0.2s;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.white-arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Nav Bar */

#nav-bar {
    height: 40px;
    width: 100%;
    background: #363636;
    color: #fff;

    font-weight: 300;
}

#nav-bar .container {
    padding: 0px;
}

#nav-bar .float-left {
    float: left;
}

#nav-bar .float-right {
    float: right;
}

#nav-bar ul {
    list-style-type: none;
    line-height: 40px;
}

/* Transaction Stats */

#transaction-stats {
    margin-top: 20px;
    font-size: 0.9em;
}

#transaction-stats .container {
    background: #fff;
    border: 1px solid #eee;
    overflow: auto;
}

#transaction-stats span {
    display: block;
}

#transaction-stats .title {
    border-bottom: 1px solid #929292;
    padding-bottom: 5px;
}

.business-profits, .business-incomes, .business-expenses {
    display: block;
    width: 200px;
    text-align: left;
    padding: 25px 25px 25px 0px;
    float: left;
    position: relative;
}

.business-incomes:after {
    background: linear-gradient(to right, #4caf50 25%,#4caf50 25%, #4caf50 70%, #fff 67%, #fff 75%, #fff 75%);
    position: absolute;
    content: '';
    height: 10px;
    right: 0;
    left: 0;
    bottom: 0;
}

.business-expenses:after {
    background: linear-gradient(to right, red 25%,red 25%, red 70%, #fff 70%, #fff 75%, #fff 75%);
    position: absolute;
    content: '';
    height: 10px;
    right: 0;
    left: 0;
    bottom: 0;
}

#transaction-stats .value {
    font-size: 1.1em;
    padding-bottom: 8px;
}

#transaction-stats .value-title {
    font-size: 0.85em;
}


/* Add Transaction Box */

#add-transactions-box {
    margin-top: 10px;
    font-size: 0.9em;
    display: none;
}

#add-transactions-box .container {
    background: #fff;
    border: 1px solid #eee;
}

/* Edit Bar */

#transactions-edit-bar {
    margin-top: 10px;
}

#transactions-edit-bar .container {
    background: #fff;
    border: 1px solid #eee;
}

#transactions-edit-bar #edit-buttons {
    display: none;
    float: right;
}

/* Transactions */

#transactions {
    margin-top: 10px;
}

#transactions .container {
    background: #fff;
    border: 1px solid #eee;
}

#transactions table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.85em;
}

#transactions table td, th {
    text-align: left;
    padding: 10px 8px;
}

/*#transactions table tr:nth-child(even) {
    background-color: #dddddd;
}*/

#transactions table tr {
    border-top: 1px solid #eee;
    font-size: 0.85em;
}

#transactions table tr:hover {
    background: #dddddd66;
    cursor: pointer;
}

#transactions table tr:first-child {
    border-top: 0px;
    border-bottom: 1px solid rgb(146, 146, 146);
    font-size: 0.95em;
}

#transactions table tr:first-child:hover {
    background: transparent;
}


/* Utility Bar */

#utility-bar .container {
    background: #fff;
    border: 1px solid #eee;
    margin-top: 10px;
}

/* Push out form */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    opacity: 0.9;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-right .5s;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
